[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
chalice = "*"
feedparser = "*"
beautifulsoup4 = "*"
newspaper3k = "*"
lxml = {extras = ["html_clean"], version = "*"}
huggingface-hub = "*"
requests = "*"
dotenv = "*"

[dev-packages]

[requires]
python_version = "3.12"
